   {% extends 'base.html' %}
   {% block body %}
<div class="container  py-4" style="margin:auto; max-width: 500px;" >
    <form class="form-signin" method="post" action="signup">
    {% csrf_token %}
        <img class="mb-4" src="static/loginlogo.jfif" alt="" width="72" height="72">
       <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
       <label>First name</label>
        <label for="inputfirstName" class="sr-only">First Name</label>
        <input type="text" id="inputfirstName" name="firstName" class="form-control" placeholder="" required="" autofocus="">

       <label>Last name</label>
        <label for="inputlaststName" class="sr-only">Last Name</label>
        <input type="text" id="inputlastName" name="lastName" class="form-control" placeholder="" required="" autofocus="">

       <label>Email Id</label>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="eg. email@orawell.com" required="" autofocus="">

       <label>Choose your password</label> 
       <label for="inputPassword" class="sr-only">password 1</label>
        <input type="password" name="pass1" id="inputPassword" class="form-control" placeholder="" required="">

       <label>Type your password Again</label>
        <label for="inputPassword" class="sr-only">Password 2</label>
        <input type="password" name="pass2" id="inputPassword" class="form-control" placeholder="" required="">

       <label>Phone Number</label>
        <label for="inputphone" class="sr-only">Phone</label>
        <input type="tel" name="phone" id="inputphone" class="form-control" placeholder="" required="">

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>
   {% endblock body %}